// ---------------------------------------------------------
// This module contained all content elements like claim, 
// testboxes adn so on
// ---------------------------------------------------------

.content--claim {
  @include headline-font;
  padding: rem-calc(10 0 30 0);
  line-height: 1.5em;
    
  span {
    color: $eye-catcher;  }
}

.content--headline {
  @include copy-font;
  font-weight: 500;
  padding: rem-calc(10 0 20 0);
  text-transform: uppercase;
}

.content--copy {
  @include copy-font;
  padding: rem-calc(10 0 30 0);
  line-height: 1.5em;
  @include auto-hyphens;
  
  span {
    color: $eye-catcher;
  }
}

.content--headline-sub { 
  @include copy-font(rem-calc(19));
  padding-bottom: rem-calc(10);
  margin-bottom: rem-calc(40);
  border-bottom: solid rem-calc(5) $eye-catcher;
  text-align: center;
}

.content--date {
  @include copy-font(rem-calc(16));
  padding-bottom: rem-calc(10);
}

.content--event {
  @include copy-font(rem-calc(16));
  padding-bottom: rem-calc(30);
}