// ---------------------------------------------------------
// This module contained all the content (text) elements  
// like claim, textboxes adn so on.
// ---------------------------------------------------------

.content {
	@include copy-font;
	
	span {
    color: $eye-catcher;
    font-weight: 500;
  }
}

// ---------------------------------------------------------
// The claim.  
// ---------------------------------------------------------

.content--claim {
  @include headline-font(rem-calc(30));
  padding: rem-calc(10 0 30 0);
  line-height: 1.5em;
    
  span {
    color: $eye-catcher;  
  }
}

// ---------------------------------------------------------
// Main text which is a littel bigger than the other ones
// ---------------------------------------------------------

.content--main-headline {
  font-weight: 500;
  padding: rem-calc(10 0 0 0);
  font-size: rem-calc(22);
}

.content--main-copy {
  padding: rem-calc(10 0 30 0);
  line-height: 1.6em;
  font-size: rem-calc(20);
}

// ---------------------------------------------------------
// Subtext, a bit smaller.
// ---------------------------------------------------------

.content--sub-headline { 
  @include copy-font(rem-calc(19));
  padding-bottom: rem-calc(10);
  margin-bottom: rem-calc(40);
  border-bottom: solid rem-calc(5) $eye-catcher;
  text-align: center;
}

.content--sub-copy { 
  @include copy-font(rem-calc(16));
  padding-bottom: rem-calc(30);
  line-height: rem-calc(23);
}

// ---------------------------------------------------------
// Special content classes 
// ---------------------------------------------------------

.content--date {
  @include copy-font(rem-calc(16));
  padding-bottom: rem-calc(10);
}

.content--event {
  @include copy-font(rem-calc(16));
  padding-bottom: rem-calc(30);
}