// ---------------------------------------------------------
// This module holds the styles forthe headlines.
//
// ---------------------------------------------------------

.header--headline {
  @include headline-font(rem-calc(26));
  padding-bottom: rem-calc(20);
  
  @media #{$medium-up} {
    @include headline-font(rem-calc(48));
  }
}

.header--subheadline {
  @include headline-font(rem-calc(36));
  padding-bottom: rem-calc(30);
  color: $eye-catcher;
}

.header--home {
  @include headline-font(rem-calc(24));
  color: $eye-catcher !important;
  
  @media #{$medium-up} {
    @include headline-font(rem-calc(28));
  }
}