// ---------------------------------------------------------
// !!! Note some colors are overwritten inside
//     foundation_and_overwrites.scss
// ---------------------------------------------------------

$eye-catcher: #00b1ff;
$light-text-color: #999;
$light-grey-color: #eee;