@mixin headline-font($font-size: rem-calc(32)) {
  font-family: sommet-rounded, 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: $font-size;
}

@mixin copy-font($font-size: rem-calc(20)) {
  font-family: gesta, 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: $font-size;
}

@mixin auto-hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}