.content--banner
  %a{:href => "http://re-publica.de", :title => "re:publica 16 - TEN"}
    %img{:alt => "re:publica 16 - TEN", :src => "http://re-publica.de/files/banner/rpTEN_300x250_1.png"}/

- data.events.dates.each do |d|     
  .content--date
    = d.date
  .content--event
    = link_to d.name, d.url